.testimonial-slider-wrapper {
  position: relative;

  // Slick Dots
  .slick-dots {
    z-index: 3;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 26px;
    position: relative;
    text-align: center;
    line-height: 0;
    gap: 10px;
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      line-height: 0;
      margin: 0;
      @include transition;

      button {
        font-size: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        // background-color: $white;
        border-radius: 50px;
        position: relative;
        @include transition;
      }
      &.slick-active {
        @include transition;

        button {
          @include transition;
          background-color: $primary-color;
        }
      }
    }
  }
}
