.team-area-slider-wrapper {
  position: relative;
  overflow: hidden;

  .slick-list {
    margin: 0 -2.5px;

    .slick-slide {
      margin: 0 2.5px;
    }
  }
  // arrow btn
  .team-slider-btn {
    position: absolute;
    bottom: 0;
    .prev-btn {
      right: 50%;
    }
    .next-btn {
      left: 50%;
    }
  }
  // Slick Dots
  .slick-dots {
    z-index: 3;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 26px;
    position: relative;
    text-align: center;
    line-height: 0;
    gap: 10px;
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      line-height: 0;
      margin: 0;
      @include transition;

      button {
        font-size: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        position: relative;
        @include transition;
      }
      &.slick-active {
        @include transition;

        button {
          @include transition;
          background-color: $primary-color;
        }
      }
    }
  }
  .team-slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
    &.prev-btn{
      left: 0;
    }
    &.next-btn{
      right: 0;
    }
  }
}
